[2021-03-16 06:26] abdulazizm opened #31 "No module named 'tensorflow'"
Working with ZCU104 Edge device. Using apache TVM workflow with VItis AI on top of PYNQ image. Tensorflow fopor aarch64 doesnt comes with pynq? do i need to compile and use my own tensorflow? or did I miss anything?

[code]

[2021-03-16 07:45] abdulazizm opened #32 "Compilation failing on ZCU104 on top PYNQ"
trying to build master/default branch Pyxir with DPU-PYNQ (2.6 SD card image) for TVM workflow.

Cant able to build :  using `sudo python3 setup.py install --use_vai_rt_dpuczdx8g` command
but -> `sudo python3 setup.py install` this command builds but guess both are not same. Any suggestions?

`In file included from /root/vai_1.3_tvm/tvm/pyxir/src/pyxir/runtime/backends/vai_rt/vai_api/dpu_func.cpp:

[2021-03-16 08:05] jtuyls commented on #31
@abdulazizm You don't need Tensorflow on the Pynq board to do inference. Tensorflow is only needed for doing quantization and compilation on the host machine, that's why you see the warning. I think it's unclear however, so we will remove the warning.

[2021-03-16 08:12] jtuyls commented on #32
@abdulazizm Did you clone and install pynq-dpu version 1.2.0 (https://tvm.apache.org/docs/deploy/vitis_ai.html#edge-hardware-setup)? The latest version of pynq-dpu switches the Vitis AI runtime from DNNDK to VART and we will update the TVM flow for that shortly, but for now we specifically need pynq-dpu version 1.2.0. If installed correctly, the dpu_runner.hpp should be located in /usr/include/vai

[2021-03-16 10:00] abdulazizm commented on #31
@jtuyls Sure thats helpful. I remember while reading docs in tvm saying that they do on-the-fly quantization - but not sure this applies for EDGE devices too

[2021-03-16 10:11] abdulazizm commented on #32
I used master branch from [https://github.com/Xilinx/DPU-PYNQ](DPU-PYNQ) (That may be the reason I am not getting `dexplorer - command not found error`). Now it makes more sense.

1. Is there any compatibility matrix for tvm workflow? I am very much confused with versions of PYXIR, DPU-PYNQ, TVM
2. I am in need to use tvm's master branch (as it has more new api's for me to compile/annotate deeplab

[2021-03-16 11:09] jtuyls commented on #31
@abdulazizm We can only quantize and compile on the host machine. If you target edge devices, you use the on-the-fly quantization flow on the host to quantize and cross-compile. You can find a full example here: https://github.com/Xilinx/pyxir/tree/master/examples/tvm

[2021-03-16 11:19] jtuyls commented on #32
@abdulazizm Yes, the instructions previously pointed to dpu-pynq master (as that was v0.1.2) but we fixed it now because of the dpu-pynq change. I recommend looking at this page for the latest instructions: https://tvm.apache.org/docs/deploy/vitis_ai.html#edge-hardware-setup.

1. Latest TVM and PyXIR work with DPU-Pynq V0.1.2. We always verify latest TVM with latest PyXIR so that should keep worki

[2021-03-16 11:49] abdulazizm commented on #32
@jtuyls Thanks!

I just followed the steps as mentioned here - [Vitis-AI Integration — tvm 0.8.dev0 documentation](https://tvm.apache.org/docs/deploy/vitis_ai.html#edge-hardware-setup)
Throws this error while importing relay:

[code]

Tried with TVM v0.7.0 branch too. Pops the same error. (Please refer: https://discuss.tvm.apache.org/t/attributeerror-when-import-tvm-relay/3305/6)

Then I noticed t

[2021-03-16 11:57] jtuyls commented on #32
@abdulazizm The instructions only build the TVM runtime and not the full TVM package to make it more lightweight and therefore relay is not available. However, you don't need relay to run a cross-compiled module on the board. See this file for an example script for running on an edge device: https://github.com/Xilinx/pyxir/blob/master/examples/tvm/edge_resnet_18_board.py.

[2021-03-17 10:40] abdulazizm commented on #32
@jtuyls Thanks a lot. It clears a lot.

I was facing an issue related to tvm.relay.op.contrib.vitis_ai.annotation API and opened issue [here](https://github.com/Xilinx/Vitis-AI/issues/321) a week ago. Do you have any suggestions for this?

[2021-03-17 10:41] #31 closed

[2021-03-22 12:51] abdulazizm opened #33 "AssertionError while annotating deeplabv3 model from pytorch"
https://github.com/Xilinx/pyxir/blob/7d73925147cac34a23204183f09c325397a8d364/python/pyxir/graph/ops/l1_basic_nn.py#L167

Trying to build deeplabv3 from pytorch to deploy on top of xilinx EDGE device - zcu104. Facing some issue while annotating. Code snippets here:

[code]
Two doubtful things in output:

/home/vitis-ai-user/.local/lib/python3.6/site-packages/pyxir-0.1.6-py3.6-linux-x86_64.egg/pyxi

[2021-03-22 14:09] jtuyls commented on #33
@abdulazizm This line checks whether the dimensions that are not concatenated over have the same value for all inputs. Could you share the Relay representation of the model (`print(mod['main'])`) after doing an InferType pass (`mod = tvm.transform.InferType()(mod)`)? That way I can see what the input layers are for this concatenation.

[2021-03-22 17:37] abdulazizm commented on #33
@jtuyls Thanks for esteemed reply. Here are the requested details.

`(vitis-ai-pytorch) Vitis-AI /workspace/python/compile > python3 compile_pytorch_deeplab.py
2021-03-22 11:34:26.871043: W tensorflow/stream_executor/platform/default/dso_loader.cc:60] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory; LD_LIBRAR

[2021-03-22 17:38] abdulazizm commented on #33
%0 = nn.conv2d(%data, %model.backbone.conv1.weight, strides=[2, 2], padding=[3, 3, 3, 3], channels=64, kernel_size=[7, 7]) /* ty=Tensor[(1, 64, 112, 112), float32] */;
  %1 = nn.batch_norm(%0, %model.backbone.bn1.weight, %model.backbone.bn1.bias, %model.backbone.bn1.running_mean, %model.backbone.bn1.running_var) /* ty=(Tensor[(1, 64, 112, 112), float32], Tensor[(64), float32], Tensor[(64), float32

[2021-03-23 04:31] #32 closed

[2021-03-23 04:33] abdulazizm commented on #32
Opened a new issue for easy tracking (AssertionError while annotating deeplabv3 model from pytorch) -> https://github.com/Xilinx/pyxir/issues/33

[2021-03-26 07:53] danlg opened #34 "Compiling pyxir error in py_base.cpp with std::regex_replace"
Hi

Trying to compile pyxir (commit 7d73925147cac34a23204183f09c325397a8d364, Version bump to v0.1.6), I get the error:

[  4%] Building CXX object CMakeFiles/pyxir.dir/src/pyxir/ffi/py_base.cpp.o
In file included from /home/centos/pyxir/include/pyxir/graph/xgraph.hpp:26:0,
                 from /home/centos/pyxir/include/pyxir/pyxir.hpp:21,
                 from /home/centos/pyxir/src/pyxir/ffi/p

[2021-03-26 17:43] jtuyls commented on #34
Hi @danlg , what system are you compiling on? Could you try with a gcc version >= 5? It looks like regex wasn't fully supported yet in 4.8 and the `regex_replace` function is missing (https://stackoverflow.com/questions/12530406/is-gcc-4-8-or-earlier-buggy-about-regular-expressions).

[2021-03-29 14:27] jtuyls commented on #33
@abdulazizm Thanks for posting the Relay expression. The issue seems to be in this concatenate layer: `%481 = concatenate(%480, axis=1) / ty=Tensor[(1, 1280, 28, 28), float32] /;`. The height size should be 28, but are {132,108,156,86,28}, so most are going wrong. I went through the Relay expressions but couldn't derive which layers that are translated wrongly to pyxir. Could you enable debug info

[2021-03-29 16:34] abdulazizm commented on #33
@jtuyls Hope you are getting nearer and about to solve this issue. I have enabled logging earlier too. Just attaching logs without printing mod['main'] just for your reference. Let me know if you are worried about my model tracing.

`(vitis-ai-pytorch) Vitis-AI /workspace/python/compile > python3 compile_pytorch_deeplab.py
2021-03-29 10:29:15.964160: W tensorflow/stream_executor/platform/default/d

[2021-03-29 16:46] jtuyls commented on #33
@abdulazizm Could you do the same, but with the DEBUG flag? The INFO flag is not showing enough details to debug this part of the codebase. My bad for asking to use the INFO flag earlier.

[code]

[2021-03-29 17:05] abdulazizm commented on #33
@jtuyls  No issues, here is the requested log (attaching as file - seems to have more details). Hope this helps
[assertionerror_log_pyxir_github_jtuyls.log](https://github.com/Xilinx/pyxir/files/6223312/assertionerror_log_pyxir_github_jtuyls.log)

[2021-03-30 19:48] jtuyls commented on #33
@abdulazizm This issue is caused by the conv2d shape inference not having been added for dilation > 1. It's still WIP but you could try this branch of PyXIR: https://github.com/Xilinx/pyxir/tree/dev-rf-test-0

[2021-03-31 06:52] abdulazizm commented on #33
@jtuyls Thanks for the time and your code change. Tried pyxir branch (dev-rf-test-0), annotation() API worked good without assertion error but getting seg fault during PartitionGraph() call.

[code]
Code used for reference:
[code]

[2021-03-31 15:55] jtuyls commented on #33
@abdulazizm This looks like a partitioning issue. Could you provide the output of `mod['main']` after MergeCompilerRegions?

[2021-03-31 16:01] abdulazizm commented on #33
@jtuyls Yeah it seems to be a partitioning issue. (May be this is why we didnt had dilation/strides not implemented earlier?) Here is the requested output ->
[segmentationfault_log_pyxir_github_jtuyls.log](https://github.com/Xilinx/pyxir/files/6237858/segmentationfault_log_pyxir_github_jtuyls.log)

Thanks

[2021-04-05 19:58] settle opened #35 "RuntimeModule's load function member produces segmentation fault"
@jornt-xilinx

I've successfully exported and then imported the Runtime Module on an x86_64 host targeting an DPUCADX8G using the following code to import the exported runtime module:

        std::ifstream in_file(rt_mod_holder_filename);
        std::stringstream buffer;
        buffer << in_file.rdbuf();
        std::string serialized_rt_mod = buffer.str();
        in_file.close();

        std

[2021-04-07 07:44] jtuyls commented on #33
@abdulazizm I think the issue is this dropout layer: `%886 = nn.dropout(%885, rate=0.1f) /* ty=(Tensor[(1, 28, 28, 256), float32], Tensor[(1, 28, 28, 256), float32]) */;`. The flow should be able to handle this but the expected result will be that all convolutions before the dropout will be inside the DPU partition (we currently only handle one partition) and all convolutions after the dropout wil

[2021-04-07 07:59] abdulazizm commented on #33
Hi @jtuyls ,

Do we have any quick fix updated for this segfault issue (in the previous mentioned branch)?

So we may not be using DPU efficiently for this purpose? This may be acceptable for my purpose, do you want me to proceed or hold on?

Is there any workaround you recommend us to try for deeplab model? Guess trying deeplab with frameworks other than Pytorch may not help - Right?

[2021-04-07 08:07] jtuyls commented on #33
@abdulazizm

Yes, I am working on it and will push it to the same branch. I will ping you when it's in.

Yes, the performance will suffer from this. You could remove the dropout layers from the model before passing the model to TVM to avoid this.

[2021-04-07 09:02] abdulazizm commented on #33
@jornt-xilinx That sounds great. Thanks.

[2021-04-09 17:12] jtuyls commented on #33
@abdulazizm I think it was the dilated conv2d with large padding that is unsupported on the DPU that was causing incorrect partitioning (DPUCZDX8G supports padding sizes in range [0, kernel_size-1], but kernel size was 3 and padding size 4). I could recreate a small test case and fixed the partitioning issue but this means that this specific conv2d and following convolutions will be executed on CP

[2021-04-09 17:53] abdulazizm commented on #33
@jtuyls That works great!! Can able to build the deeplab v3 model successfully. Thanks. Will try the inference results and update benchmarks here shortly. When can we expect these changes in release branch?

Shall we close this issue?

[2021-04-12 08:34] jtuyls commented on #33
@abdulazizm Great that it's working, I will move the changes into dev shortly and will probably get them in released this or next week. Feel free to close the issue.

[2021-04-12 12:41] abdulazizm commented on #33
@jtuyls Couldnt load the library module generated in EDGE device. Not sure why. Am I missing something?

[code]

[2021-04-12 12:47] jtuyls commented on #33
@abdulazizm I think this might be caused by the TVM GraphRuntime having been changed to GraphExecutor. I think you have different TVM versions installed on the host machine and board and you will have to pull in the latest TVM version on the host to resolve this.

[2021-04-12 14:20] jtuyls commented on #35
@settle I guess the `rt_mod_holder` is a `nullptr` in this case and therefore the reset is needed for initialization. I changed the load to a static function to avoid this issue of potentially not having initialized the RuntimeModule: https://github.com/Xilinx/pyxir/pull/37. Could you have a look?

[2021-04-13 04:37] abdulazizm commented on #33
@jtuyls Tried with latest TVM and Pyxir (dev-rf-test-0 git branch), couldnt compile now. Any other workflow has changed (its popping not to use annotation API - but tvm's vitis-ai example and pyxir example still has annotation API used in it)? and loading build config changed? (couldnt find the recent way load build config).

[code]

[2021-04-13 09:18] jtuyls commented on #33
@abdulazizm Were you also in the vitis-ai-pytorch environment earlier? You should use the vitis-ai-tensorflow environment.

[2021-04-13 09:22] abdulazizm commented on #33
@jtuyls Yeah i was using pytorch earlier too since I was using deeplab model from pytorch framework someone suggested to use this conda environment. (Reference attached below) - will try tensorflow environment too and keep you posted

[2021-04-13 09:23] jtuyls commented on #34
@danlg In which environment are you building pyxir (and which docker if you are compiling it on a x86 machine) and what DPU are you targeting? PyXIR is looking for a dpu_runner.hpp but it can't be found so I expect this to be an environment issue.

[2021-04-13 09:26] jtuyls commented on #33
@abdulazizm I see, yeah, for the TVM work it is always the tensorflow environment. Not sure why the pytorch environment was working for you earlier.

[2021-04-13 10:32] abdulazizm commented on #33
@jtuyls  That worked. With tensorflow conda environment managed to build the library file. But on EDGE device at runtime throws error like below while mounting lib. Any idea?

[code]

[2021-04-13 10:42] jtuyls commented on #33
@abdulazizm I think your model didn't get quantized and compiled properly on the host machine. Make sure that you are providing enough calibration images and to verify check that the quantizer and compiler got called in the console output. Also, build and export for aarch64 afterwards, here is a full example: https://github.com/Xilinx/pyxir/blob/master/examples/tvm/edge_resnet_18_host.py.

[2021-04-14 22:12] danlg commented on #34
thanks @jtuyls

I am targeting AWS F1 `python3 setup.py install --use_vai_rt_dpucadx8g --user`
I had to change vitisai_INCLUDE_DIRS upgrade gcc compiler
#   set(vitisai_INCLUDE_DIRS ${vitisai_ROOT_DIR}/lib/python3.6/site-packages/vai/dpuv1/rt/vitis/include/dpu)
  set(vitisai_INCLUDE_DIRS ${vitisai_ROOT_DIR}/tools/Vitis-AI-Runtime/VART/vart/runner/include)

Overall, I am disappointed by the low bui

[2021-04-15 07:14] abdulazizm commented on #33
@jtuyls With default 128 quant_size could able to compile the model with quantization. It took around 3.85 seconds for an image from coco dataset (earlier it was 8.5 seconds - guess it used cpu completely). Hope if I could able to remove dropout layer, will see drastic improvements.

Thanks for the time, support and patience. Closing this issue.

[2021-04-15 07:57] jtuyls commented on #33
@abdulazizm That isn't good performance and means that still a lot of the convolutions are executed on the CPU. Removing the dropout might help but there are also dilated convolutions with large padding values that are breaking up the DPU partition and causing those and subsequent convolutions to be offloaded to the CPU. Like these ones:
[code]
It looks like those dilated convolutions with large p

[2021-04-15 08:45] jtuyls commented on #34
@danlg Pyxir is meant to be built inside the the Vitis AI docker which contains all necessary packages to quantize, compile and run. Pyxir is not meant to be a standalone package that contains all necessary Vitis AI tools and therefore it won't build out-of-the-box in an environment that doesn't contain those tools. That's why Pyxir couldn't find the necessary header files and the libxfdnn package

[2021-04-15 11:35] abdulazizm commented on #33
@jtuyls Tried with padding and dilation = (2,2) instead of (12,12), (24,24), (36,36) but didn't help much. Took around the same ~4seconds for single image inference - not sure why.

[2021-04-15 12:30] jtuyls commented on #33
@abdulazizm I guess there are still unsupported convolutions around then. You also replaced the one with (4, 4)?
[code]

You can look at the `annotation.compiler_end` expressions in the Relay module after 'MergeCompilerRegions'. The operations after this have been annotated as 'unsupported' and therefore are not in the DPU partition. This should give some clues about why subsequent convolutions ar

[2021-04-15 19:24] abdulazizm commented on #33
@jtuyls You are right, I missed (4,4). Now tried removing those too, but couldn't get the library exported even after quantization done.
[code]

[2021-04-19 20:19] abdulazizm commented on #33
@jornt-xilinx Any suggestions for the above issue? Merged dev-rf-test-0 to master branch?

[2021-04-21 08:36] jtuyls commented on #33
@abdulazizm I merged `dev-rf-test-0` into master yesterday (v0.1.7). As for the error, it looks like now the compiler is failing on a dilated conv2d operation that shouldn't get through. Could you share the output of `mod['main']` again after MergeCompilerRegions?

[2021-04-23 20:14] abdulazizm commented on #33
[Debug_log_pyxir_deeplab_less_dilated_conv.txt](https://github.com/Xilinx/pyxir/files/6367826/Debug_log_pyxir_deeplab_less_dilated_conv.txt)
[mod_main_after_mergecompiler.txt](https://github.com/Xilinx/pyxir/files/6367827/mod_main_after_mergecompiler.txt)
@jornt-xilinx Thanks for merging changes into master branch. Attached required log files for reference. Please let me know how can we proceed fu

[2021-04-30 09:16] jtuyls commented on #33
@abdulazizm I think we are running into this DPU Conv2d constraint: `kernel_w *kernel_h * (ceil(input_channel / channel_parallel))
<= bank_depth/2` for at least one of the conv2d's:
[code]
kernel_w, kernel_h = 3, 3
input_channel = 2048
channel_parallel = 16
bank_depth = 2048

So, `kernel_w *kernel_h * (ceil(input_channel / channel_parallel)) = 1152 ` which is greater than `bank_depth/2 = 1024`. I

[2021-05-02 14:21] Bonjuor-zyx opened #39 "Ultra96 v2: [DNNDK] DPU configuration mismatch"
Hi, I tried the pyxir/examples/tvm/, and I almost succeeded. But when I ran the program on the ultra96 board, I got the error.
![image](https://user-images.githubusercontent.com/54531686/116815859-1755b580-ab92-11eb-8421-950b64aa3398.png)

I checked the dpu version on the host and the board, I found they were both v1.4.1.
host
![image](https://user-images.githubusercontent.com/54531686/116815918-6

[2021-05-05 20:21] jtuyls commented on #39
Hi @Bonjuor-zyx, yes, this looks like a mismatch between the DPU IP version the model was compiled for and the DPU IP version on the board. Which version of pynq-dpu are you using (`python3 -c "import pynq_dpu; print(pynq_dpu.__version__)"`)?

Ok, this Z1/Z2 comments looks wrong or out-of-date indeed. Thanks for letting us know.

[2021-05-06 02:43] Bonjuor-zyx commented on #39
Hi @jtuyls, thanks for your comment! For this try, I used `pynq-dpu 1.2.0` as the[ tvm doc](https://tvm.apache.org/docs/deploy/vitis_ai.html) says,
![image](https://user-images.githubusercontent.com/54531686/117232844-967a1080-ae54-11eb-9811-15e59ac59502.png)

At this moment, I tried another doc,  [Xilinx Vitis-AI/external/tvm](https://github.com/Xilinx/Vitis-AI/tree/master/external/tvm), and I al

[2021-05-06 14:59] #33 closed

[2021-05-10 01:15] abdulazizm opened #40 "Run Deeplabv3 (resnet 101 backbone) from pytorch framework on Xilinx at good performance metric"
Trying to build deeplabv3 from PyTorch to deploy on top of Xilinx EDGE device - zcu104. Facing some issues while quantizing. For good metrics as suggested in https://github.com/Xilinx/pyxir/issues/33#issuecomment-829961279 updated model with these changes:
1. Tried with padding and dilation = (2,2) instead of default (4,4), (12,12), (24,24), (36,36)
2. Removed dropouts
3. Adjusted conv2d layer to

[2021-05-11 04:54] Bonjuor-zyx commented on #39
@jtuyls , great thanks for your help, I think pynq-dpu v1.3.2 will work on the ultra96 v2 board. Recently, I used the zcu104 board to do the experiment, it works fine, after I finish all the data collection, I'll have a try to do it on the ultra96 v2 board.

[2021-05-11 04:54] #39 closed

[2021-05-12 20:30] jtuyls commented on #40
Hi @abdulazizm , it looks like the issue is that the `.` in the output name `nn.relu-93879463329808` is not matched with the
`_` in the DNNC output: `nn_relu_93879463329808`. The fallback uses output shape matching but as some shapes have the same size, that also fails. I added a fix to the dev branch: https://github.com/Xilinx/pyxir/blob/52d7e7c08e5a143003e87041e00b14481f568b45/python/pyxir/contr

[2021-05-13 18:29] abdulazizm commented on #40
@jtuyls Hope that's a good catch, not getting an assertion error now. But there seem to be some other naming convention issues too. Let me know if I missed anything.

[code]

Thanks!!

[2021-05-13 19:12] jtuyls commented on #40
@abdulazizm It looks like the regular expressions `re` package is not there. If you copied the line you might have missed the import?https://github.com/Xilinx/pyxir/blob/52d7e7c08e5a143003e87041e00b14481f568b45/python/pyxir/contrib/target/components/DPUCZDX8G/dnnc_output.py#L18

[2021-05-13 20:40] abdulazizm commented on #40
@jtuyls Thanks for the quick reply. Yeah, I missed copying import into my codebase. Now it builds and exports the library successfully.  Will check this on the EDGE device and share the inference metrics with you shortly.

And also I am trying to benchmark the results, could you please let me know If there are any special API to calculate FPS, Latency, Throughput, or any other metrics calculation

[2021-05-14 18:49] abdulazizm commented on #40
@jtuyls Happy to share that we can now inference at 0.35s (earlier it was 3.5s - drastic improvement). this is a great drastic improvement from performance point of view. Thanks for the support and is there any other suggestions from your side to improve performance further? Finetuning suggestions?

[code]
_**Reiterating from previous comment:** "And also I am trying to benchmark the results, coul

[2021-05-15 10:24] jtuyls commented on #40
@abdulazizm Great to hear that the inference performance is 10x from previously now! Still, unless there are quite some expensive operations that you expect will need to be executed on CPU,  I think it might be possible to improve further. For this, I would have a look at what parts of the model are offloaded to DPU and CPU respectively. You can check this by inspecting the TVM module after the Pa

[2021-05-15 10:28] #35 closed

[2021-05-15 10:29] jornt-xilinx commented on #35
Closed this issue as this was fixed with https://github.com/Xilinx/pyxir/pull/37

[2021-05-15 20:14] abdulazizm commented on #40
@jtuyls Thanks for the very detailed reply. Can able to use the TVM time evaluator function, this helps a lot. And used mod['main'] to find out some layers running on the CPU. Updated model (removed dropout layer, changed `torch.nn.AdaptiveAvgPool2d` layer to `torch.nn.AvgPool2d` layer), now can able to inference at `234.72 ms` (from tvm time evaluator). Great one!!

Still, I can see 3 conv2d laye

[2021-05-24 12:45] 0b11101010 opened #41 "Question about onnxruntime execution on edge"
Hello everyone,

I've seen the commit "Create DPUCZDX8G (zcu104, zcu102, SOM and Ultra96) VART flow"  and wanted to ask that
Is it possible to use onnxruntime on edge devices with this commit?

[2021-05-25 15:27] jtuyls commented on #40
@abdulazizm Getting the remaining 3 conv2d operations into the DPU should get you another performance improvement indeed. I think the `image.resize` operation is the culprit as it's not converted to a NHWC operation and is therefore being surrounded by layout_transform operations in the layout transformation pass. I think it will be included in the vitis_ai_0 function if you add following snippet

[2021-05-26 08:18] abdulazizm commented on #40
@jtuyls Thanks for the reply, Jorn. I was using the desired layout for nn.conv2d as 'OIHW' instead of 'default'. Tried with the suggestions for image.resize, but still getting the same mod['main'] and inference time (image.resize at mod['main']). Not sure why, are we missing something?

1, `desired_layouts = {'nn.conv2d': ['NHWC', 'default']}` -> default recommendation (has 157 entries in mod['mai

[2021-05-26 09:01] jtuyls commented on #41
@0b11101010 No, not yet, we will first have to get this PR merged into ONNX Runtime: https://github.com/microsoft/onnxruntime/pull/6690

[2021-05-26 09:24] jtuyls commented on #40
@abdulazizm Using 'OIHW' is fine. With 'default' you will probably have to add this line `mod["main"] = bind_params_by_name(mod["main"], params)` before the transformation to avoid transposes on the weight parameters (we are looking at resolving these kind of issues and abstracting all these transformations away inside one partitioning function).

So, approach 4 `desired_layouts = {'nn.conv2d': ['

[2021-05-26 11:21] abdulazizm commented on #40
@jtuyls Yes, the mod['main'] seems to be the same before and after image.resize change. And I can also notice that the convert_image_resize() function is not called by any means while compilation (is it not registered properly?). While getting into TVM code, it seems that it has 'NCHW' as the default layout (will rebuilding TVM with default layout as "NHCW" helps?).

Guess you are right, there is

[2021-05-28 08:06] abdulazizm opened #43 "Tensorflow Yolov3 compiles but killed while loading in EDGE device using tvm.runtime.load_module()"
Used the same script and environment as mentioned by @jornt-xilinx here: https://discuss.tvm.apache.org/t/annotation-error-with-vitis-ai-in-tvm/8690/19?u=abdulazizm

Can able to successfully compile the lib_dpu_arm.so but couldnt load in ZCU104.
[code]
This is the code I use. Not sure if I missed anything. I could able to load deeplabv3 based on pytorch. Hope there shoulnot be any changes needed w

[2021-05-28 08:20] jtuyls commented on #43
@abdulazizm Could you execute `dmesg | grep -i kill` in the terminal on the device? I think this might be an out-of-memory issue and you might have to add some swap space.

[2021-05-28 12:16] abdulazizm commented on #43
@jornt-xilinx Yupp you are exactly correct and I am amazed. That seems to be out of memory issue. I have fixed the issue as you mentioned adding swap memory. Could able to inference at ~130ms.

[code]

[2021-05-28 12:16] #43 closed

[2021-05-31 11:24] FireFox317 opened #44 "Support for MaxPool autopad attribute SAME_UPPER"
Hey @jornt-xilinx, @jtuyls and everybody else !

I'm trying to use pyxir to convert a yolov4-tiny onnx model to XIR, and eventually run it on a Edge DPU. When trying to convert the model using `from pyxir.frontend.onnx.base import from_onnx` I get the following error:
[code]

I was wondering whether it is possible to add support for this feature, or to somehow work around the problem?

Thanks in a

[2021-05-31 12:19] FireFox317 commented on #44
I kinda solved this, but i'm not sure if this is actually correct. I copied some code from the Conv layer:
[code]

[2021-06-03 08:53] jtuyls commented on #44
@FireFox317 Yes, we will add support for SAME_UPPER/SAME_LOWER auto_pad attributes in pooling layers.

The auto_pad conversion code doesn't look correct to me actually. It should be like this:
[code]
with
[code]
The SAME_UPPER Conv implementation might be wrong then. I will have a look at that one too.

[2021-06-03 09:14] FireFox317 commented on #44
@jtuyls Thanks for the response!

That's a coincidence, because I also just figured out that the padding code of Conv is indeed incorrect. (Was actually typing up another issue xd)

I'm looking forward to the fix, and if you don't have to time to fix it, I can PR the change.

[2021-06-04 09:21] jtuyls commented on #44
@FireFox317 If you want to have a go at it, feel free to do so. Otherwise, I will start working on it later today. Let me know what you prefer.

[2021-06-04 09:36] FireFox317 commented on #44
@jtuyls I'm not too familiar with the codebase, so I would prefer for you to do it :)

I also ran into another problem, where partitioning a graph would get rid of all the subgraphs and only return the subgraph with the most calculations. However that is not valid for my use case, since I want to quantize and run multiple subgraphs on a Zynq MpSoc. But it might be better to create another issue fo

[2021-06-04 09:44] jtuyls commented on #44
@FireFox317 Sure, I will do it. Regarding the partitioning, that's happening on purpose due to some earlier runtime limitations (for DPUCADX8G). It should be possible for the Zynq DPU flow, but there is some work needed to enable that. Feel free to open an issue for this.

[2021-06-07 07:39] FireFox317 opened #45 "Allow partitioning, quantization and compilation for graphs with multiple subgraphs"
The current state of the code does not allow for all kinds of operations (partitioning, quantization and compilation) to be performed on a graph with multiple subgraphs. For example the `yolov4-tiny` model, has split operations which are not supported by the DPU, thus the graph should be split into multiple subgraphs and each of these subgraphs should be quantized and compiled to IR for the DPU.

[2021-06-07 14:25] jtuyls commented on #40
@abdulazizm Found out that we also needed to add a InferCorrectLayout function and created a TVM PR for this: https://github.com/apache/tvm/pull/8205

[2021-06-07 15:24] FireFox317 opened #46 "Tensorflow pad error when compiling xgraph"
Hey @jornt-xilinx !

So I've managed to quantize multiple subgraphs in a xgraph and now i'm trying to compile these subgraphs to instructions for the DPU. However the following error happens:
[code]
Do you have idea why this might happen?

[2021-06-08 11:38] FireFox317 commented on #46
Whoops!

For Vitis AI 1.3 the `quantize_eval_model.pb` should be used for compilation instead of `deploy_model.pb`. Compiling with `quantize_eval_model.pb` works!

[2021-06-08 11:38] #46 closed

[2021-06-11 14:50] abdulazizm commented on #40
@jtuyls Yeah sure Jorn. Thanks for creating a PR and pushing the feature. Please let me know once it's merged to the master branch, will give you a shot and let you the inference benchmark. I just started exploring the petalinux workflow, will update if I struck somewhere.

[2021-06-14 08:50] abdulazizm commented on #40
@jtuyls Seems deeplabv3 model has 3 subgraphs. How to load models with such subgraphs greater than 1?
Output as such:
[code]

Noticed some workaround here for CPP with VART (https://github.com/Xilinx/Vitis-AI/issues/153). Not sure how to get it down with Python - TVM

[2021-06-14 21:21] 0b11101010 commented on #41
Hello @jtuyls,
Thanks for the reply. I see the PR has been merged. Can you recommend some documents to follow if possible right now to give it a try?

[2021-06-18 11:00] #44 closed

[2021-06-18 11:01] jornt-xilinx commented on #44
Closing this issue as the PR https://github.com/Xilinx/pyxir/pull/49 has been merged into dev.

[2021-06-18 11:04] jtuyls commented on #41
@0b11101010 Yes, PR has been merged but the documentation still has to be updated to show how to use the added DPU targets. This is WIP, but you can have a look already here: https://github.com/edelaye/onnxruntime/blob/gh-pages-update-vitis-ai-doc-1/docs/reference/execution-providers/Vitis-AI-ExecutionProvider.md

[2021-07-06 09:12] abdulazizm commented on #40
Hi @jornt-xilinx ,

Tested your suggestion of changing image.resize2d layout (NHWC to NCHW) with recent TVM and PYXIR versions, it eliminated most layout_transforms in mod["main"], but couldn't make those 3 conv2d layers into mod['vitis_ai_0']. Are there any further suggestions w.r.t. these conv2d layers?

mod["main"]
[code]

[2021-07-18 14:56] jornt-xilinx commented on #40
@abdulazizm I think those three Conv2D operations are not included in the Vitis AI partition because the `image.resize` operation has been renamed recently to `image.resize2d`, which isn't recognized here. I created a PR: https://github.com/Xilinx/pyxir/pull/59 to add support for the `image.resize2d` operation. Could you try if it allows you to include all Conv2D operations into `mod['vitis_ai_0']

[2021-07-23 15:49] denishem opened #60 "Resnet-18 example on host fails to compile the model"
Hi,

I'm trying to use TVM on the ZCU102. I successfully compiled a PYNQ image and a PYNQ DPU for the ZCU102. I also managed to set up the environment for Vitis AI, TVM and PyXIR on host (Ubuntu 20.04) but when running the Resnet-18 example on host I'm getting the following error, (I know it shows ZCU104 but I'm getting the same error by changing the target):
[code]
I carefully followed https://tv

[2021-08-05 14:40] jtuyls commented on #60
Hi @denishem, I think this is caused by the DNNC/DNNDK  Zynq flow being deprecated with Vitis AI 1.4 in favor of the VART flow. We are in the process of creating a PR to update the TVM documentation for this. There are two options tor proceed for now:

- Follow the latest instructions here (Vitis AI 1.4): https://github.com/Xilinx/Vitis-AI/tree/master/external/tvm
- Follow the TVM instructions (ht

[2021-08-06 04:50] nhphuong91 opened #61 "NotImplementedError: Relay Parametric ReLU to XLayer not implemented"
I'm trying to compile an MXNet model to XIR model but facing this error
`NotImplementedError: Relay Parametric ReLU to XLayer not implemented`
The model can be downloaded from [here](https://avnet-xfer.avnet.com/link/P1rbIh9nDiab9aiN1xnukB)
Some useful script to import the model -> modify [existing one](https://github.com/Xilinx/Vitis-AI/blob/master/external/tvm/examples/compile_mxnet_resnet_18.py

[2021-08-16 19:58] jlamperez opened #63 "Relay_Op error when compiling a model"
Hi,

I started an issue in tvm repository, <https://github.com/apache/tvm/issues/8683> but I think that the correct place for fixing it is here.

I am only pointing out  which is the error, I am having a

[code]

And after adding debug traces I have figured out that the problem comes from this `RelayOp` expression

[code]

I am looking at the code and I am seeing that there are two #TODO comments

[2021-08-18 14:39] jtuyls commented on #61
@nhphuong91 I created a PR to accept the Relay PReLU operation: https://github.com/Xilinx/pyxir/pull/64. You could give it a go to check whether this works for your purposes. As you mentioned PReLU isn't supported by the DPUs in general, however, for the case where all alpha values are the same and equal to 0.1 it reduces to a Relay LeakyReLU with alpha=0.1, which is supported on some DPUs. That f

[2021-08-19 09:10] nhphuong91 commented on #61
@jtuyls I managed to replace them with LeakyReLU and luckily, the result doesn't change. And even luckier that it helps my model to be fully executed on DPU without partition to subgraph.
Anyway, it would be great if you can implement PReLU supported. But this could come after PReLU has been fully supported on DPU

[2021-09-02 10:52] jtuyls commented on #63
@jlamperez Yes, the dynamic shapes are causing the issue. I have been experimenting with this and we could represent those dynamic shapes with [-1, -1, -1, -1] internally with a small fix. However, for your specific model, the dynamic shapes of the conv2d layers are going to become an issue afterwards. We can't handle those dynamic shapes with the Vitis AI DPUs and have to know the dimensions upfr

[2021-09-02 10:54] #34 closed

[2021-09-02 16:07] jlamperez commented on #63
Hi @jtuyls,

I have added your suggestion before the `partition_for_vitis_ai`

[code]

And the error from above has gone, but I am having another error now related to the shapes of the input layers (`multiply-94401731564512'`,` 'nn_max_pool2d_NCHW-NHWC-94401731356464'`,` 'nn_max_pool2d_NCHW-NHWC-94401731361136'`, `'nn_max_pool2d_NCHW-NHWC-94401732311728'`)  to the [`concat` function in `l1_basic_n

[2021-09-15 11:52] hossam-snke opened #70 "BiasAdd is not an input for Relu"
https://github.com/Xilinx/pyxir/blob/506e8ac176c04b5d7e75ffe7ecbb1f2c4caa6498/python/pyxir/contrib/target/components/DPUCZDX8G/zcu104_op_support.py#L350

Hi @jornt-xilinx ,
Is it possible to add "BiasAdd" to the check-list of valid inputs for Relu operation. Because I got an issue when I had a sequence as  conv+add+Relu, the Relu operation was annotated as unsupported by DPU because BiasAdd is not

[2021-09-16 10:45] jornt-xilinx commented on #70
Hi @hossam-snke, yes, this is a bug introduced in v0.3.1 and has already been fixed in dev: https://github.com/Xilinx/pyxir/commit/6ba0fd8140eead568f5524e5e1c45d67b8370d42. We will also push the fix to rel-v0.3.1.

[2021-09-21 07:58] jornt-xilinx commented on #63
Hi @jlamperez I fixed the issues in the Relay conversion and the fixes are in the dev branch now. However, I had a look at the model and the I noticed that the nonlinear ops are sigmoids which we can't handle on the DPUs, so this model can really be accelerated.

[2021-09-24 13:23] #63 closed

[2021-09-26 01:17] runner42195 opened #74 "Resnet-18 example on edge DPUCZDX8G-zcu102 meets "Segmentation fault""
Firstly, I refered to the TVM Vitis AI documentation to set up the host and edge environment.
Then I executed the edge_resnet_18_host.py script on a host x86 machine to set up and compile a ResNet 18 model for DPU execution and saved a lib_dpu.so file.
When I run the edge_resnet_18_board.py script with the lib_dpu.so file on the ZCU102, but met the "Segmentation fault".

I carefully followed https

[2021-11-18 09:19] #74 closed

[2021-12-16 08:31] abdulazizm opened #78 "Compiling MaskRCNN from Torchvision model zoo issues"
JIT traced maskrcnn model from model zoo and provided desired layouts but couldn't avoid Attribute error. Any workarounds for this?
[code]
`AttributeError: <class 'tvm.tir.expr.Any'> has no attribute value`

@jornt-xilinx Any suggestion on this?

[2021-12-16 09:08] abdulazizm commented on #78
Noticed that `relay.transform.DynamicToStatic()` helped to fix the issue as mentioned here -> https://githubmemory.com/repo/Xilinx/pyxir/issues/63

But not in my case

[2022-01-13 14:08] abdulazizm commented on #78
@jornt-xilinx Seems apache tvm compiles mask rcnn with relay VM. Is it possible to have relayVM with VITIS AI workflow?

https://discuss.tvm.apache.org/t/frontend-pytorch-convert-rcnn-model-from-torch-vision-model/7525/6 masahi confirmed that apache tvm compiles maskrcnn but he is just not sure what VITIS AI does

[2022-01-17 07:37] abdulazizm opened #84 "Instance segmentation"
have anyone successfully compiled any instance segmentation model for xilinx hardware? tried maskrcnn, yolact compilation using tvm (my hardware - zcu104) but no luck

[2022-01-20 07:25] abdulazizm opened #85 "Yolact Instance segmentation model with pytorch frontend"
https://github.com/Ma-Dan/yolact/tree/onnx - Ma-Dan version of yolact is onnx exportable (hope its good to JIT trace), tried this with pytorch frontend but getting segmentation fault at `partition_for_vitis_ai(mod, params, dpu=target)` as below (debug logs enabled - can post full log in file if needed)

[code]
To JIT trace yoloact model:
[code]
Please refer: https://discuss.tvm.apache.org/t/fronte

[2022-01-20 08:14] abdulazizm opened #86 "[Yolact][ONNX Frontend][Paritioning Issue] Yolact - Instance segmentation model compilation issue"
Related to https://github.com/Xilinx/pyxir/issues/85

Exported Yolact model to ONNX and tried compiling with ONNX frontend

[code]
With `mod = relay.transform.DynamicToStatic()(mod)` just before `mod = partition_for_vitis_ai(mod, params, dpu=target)`,
[code]
FYI:
Without `mod = relay.transform.DynamicToStatic()(mod)` before `mod = partition_for_vitis_ai(mod, params, dpu=target)`
[code]
Hope Dynami

[2022-01-26 10:56] jtuyls commented on #84
Hi @abdulazizm, we have an FPN segmentation model running in regressions. And I have run a MaskR-CNN model before too. We will look at the Yolact model in the other issues. Thanks for reporting!

[2022-01-26 12:48] abdulazizm commented on #84
Thanks for the reply @jtuyls . Hope you can help me to clear blockers I have in compilation of maskrcnn and yolact in other issues.

[2022-01-26 12:48] #84 closed

[2022-02-15 07:34] abdulazizm opened #87 "mmdetect based SOLO - Instance segmentation support"
I can see the SOLO is added in Vitis_AI_2 model zoo but seems supported only for Versal boards. I am trying to compile it for ZCU104 but couldn't make it yet.

1. Is it a hardware limitation or just due to a performance issue that SOLO is not provided for Zynq Ultrascale boards?
2. How to pull specific layers alone onto dpu and compile most for CPU with TVM/pyxir?

Thanks.

[2022-02-21 11:16] jtuyls commented on #86
@abdulazizm , I put a fix for the yolact model in https://github.com/Xilinx/pyxir/tree/fix-yolact and used following script. Could you verify whether this works for you? The performance isn't great yet as the the bilinear upsample layers are prohibiting a large part of the model to be offloaded to the DPU. I am verifying whether these could be offloaded to the DPU as well.

[code]

[2022-03-01 10:34] abdulazizm commented on #85
Hi @jornt-xilinx ,

Please help us with your suggestion for improving the performance. Did you find any irregularities in this mod['main']?

FYI:
1. All nn.conv2d has common 256 output channel but not falls into dpu HW constraint. Anyway to bring those onto dpu?
2. Noticed 1 image.resize2d surrounded by layout transform. Not sure why, I have added it to desired layouts (tried to register with leve

[2022-03-01 10:55] jtuyls commented on #85
@abdulazizm I think the issue is the bilinear resize2d layers. From the Vitis AI user guide:

I created a small test case and the DPU compiler couldn't handle these resize layers. I believe the issue is the floating scale from [35, 35] to [69, 69].

[2022-03-01 11:15] abdulazizm commented on #85
Thanks for the quick reply, @jornt-xilinx . Completely makes sense. Are there any suggestions to improve this further by any chance?

[2022-03-04 18:01] abdulazizm commented on #85
@jtuyls aten::view, aten::permute operators are running on cpu it seems. DPU is not supporting these?

Tried changing aten::view -> aten::reshape , seems its also pulled on CPU.

Is this expected?

[2022-03-07 10:54] abdulazizm opened #88 "[TVM Frontend][Pytorch] Deconvolution support - nn.ConvTranspose2d - Quantization issue"
Docker Image Version: 2.0.0.1103   (CPU)
Vitis AI Git Hash: 06d7cbb

torch: 1.7.0
tvm: 0.9.dev543+g0009a308d
pyxir: 0.3.3

**Minimal Reproducible code:**
[code]

**Error:**
[code]

FYI: Seems to be issue with strides

[2022-03-07 15:20] #88 closed

[2022-03-09 11:55] abdulazizm commented on #85
@jtuyls I don't think the issue is with scaling_factor. Refer below mod['main'] -> this has resize2d [69,69] to [138,138] in CPU after partition.
[code]
Is there any timeline for supporting bilinear interpolation with this tvm flow?

[2022-03-16 22:54] robertzak133 opened #89 "tvm partition_for_vitis_ai of TFLite model: "Value Error: Could not add xlayer with name...""
I’ve made a tflite version of EfficientDet-Lite{0,1,2} following tutorial at [RetrainEfficientDet Model Maker tf2](https://colab.research.google.com/github/google-coral/tutorials/blob/master/retrain_efficientdet_model_maker_tf2.ipynb)

I then follow [Compile TFLite Models](https://tvm.apache.org/docs/how_to/compile_models/from_tflite.html) to load the model

And finally [Vitis AI Integration](http

[2022-03-17 16:50] jdidion opened #90 "Support TreeEnsembleClassifier"
I am trying to translate an xgboost model using ONNX or TVM. Translation fails due to lack of support for TreeEnsembleClassifier to XLayer conversion.

[2022-03-18 10:58] #60 closed

[2022-03-18 10:58] #70 closed

[2022-03-18 11:28] jtuyls commented on #85
@abdulazizm I think that this (69, 69) -> (128, 128) resize could be offloaded to the DPU indeed, however, the tanh and reshape ops in between are prohibiting putting resize2d in the DPU subgraph (we only support one DPU subgraph).

[2022-04-20 08:59] abdulazizm opened #94 "Update to TVM's Vitis AI deploy page required? Couldnt build the docker"
https://tvm.apache.org/docs/how_to/deploy/vitis_ai.html needs to be updated?
Seems TVM's main branch requires 3.7 to build, but pyxir is installed inside conda for python 3.6. How can we get around this issue?
Tried 0.3.5 Pyxir version too

[code]
@jornt-xilinx Any suggestions?

[2022-04-25 09:42] abdulazizm opened #95 "Pytorch's ConvTranspose2d supported in DPU but accuracy degrades significantly. Is it expected?"
Faced issue during compilation using Apache TVM flow. Below code helps to have conv2d_transpose onto mod['tvmgen_default_vitis_ai_main_0'] but accuracy degrades significantly (maybe due to unexpected weight transpose happens during desired layout transformation). It works great if we don't have conv2d_transpose in desired layout dict or force to have 'NCHW' layout
[code]
Tried `'nn.conv2d_transpos

[2022-06-08 07:48] twpark97 opened #97 "Is it possible to add custom dpu operation when using TVM?"
Hello,

Is it possible to design custom dpu operation, and map those with TVM?
For example, when executing example in here(https://github.com/Xilinx/pyxir/blob/master/examples/tvm/edge_resnet_18_host.py),
I would like to map my custom DPU operation when executing line 157 or 238.

Thanks in advance!